<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <meta charset="utf-8" />
    <title>攝氏華氏轉換器 - Angular版</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
      攝氏:
      <input type="text" ng-model="value_C" id="field_c"/>

      華氏:
      <input type="text" ng-model="value_F" id="field_f"/>

      <br/>

      <input type="button" id="btn_c2f" value="C -> F" ng-click="c2f()"/>
      <input type="button" id="btn_f2c" value="F -> C" ng-click="f2c()"/>

      <br/>

      <span>value_C = {{value_C}}</span>
      <span>value_F = {{value_F}}</span>

  </body>
</html>
